.paragrah2 {
  color: #fff;
}

.paragrah3 {
  color: #fff;
  padding-bottom: 20px;

}

.divBlock14 {
  position: absolute;
  display: flex;
  width: 30%;
  height: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: #00f;
}

.divBlock15 {
  display: flex;
  grid-column-gap: 10px;
}

.imageWrapperOuter {
  overflow: hidden;
  position: relative;
  display: flex;
  width: 100vw;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

.communitySection {
  position: static;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}

.ImageRowWrapper1 {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  flex: 1;
}

.ImageRowWrapper2 {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  flex: 1;

}

.ImageRowWrapper3 {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  flex: 1;
}

.ImageRowWrapper4 {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  flex: 1;
}

.image {
  margin-right: 10px;
  margin-left: 10px;
  flex: 1;
  border-radius: 20px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.image#i1{
  background-image: url("/assets/community/FU4dAOJXEAASfh8.jpeg");
}

.image#i2 {
  background-image: url("/assets/community/FXfmW09X0AURYlL.jpeg");
}

.image#i3 {
  background-image: url("/assets/community/FXfmW09XgAEGNIk.jpeg");
}

.image#i4 {
  background-image: url("/assets/community/IMG_0249.jpeg");
}

.image#i5 {
  background-image: url("/assets/community/FaJR-99XEAAh66Q.jpeg");
}

.image#i6 {
  background-image: url("/assets/community/FXfmW09X0AURYlL.jpeg");
}

.image#i7 {
  background-image: url("/assets/community/FU4dAOSWUAESC70.jpeg");
}

.image#i8 {
  background-image: url("/assets/community/FfCEBQkWYAA6G0s.jpeg");
}

.image#i9 {
  background-image: url("/assets/community/FU4dAOIXoAEtbGF.jpeg");
}

.image#i10 {
  background-image: url("/assets/community/FXfmW09X0AURYlL.jpeg");
}

.image#i11 {
  border-radius: 0px;
  background-image: url("/assets/community/FcTiMTzXgAExCnh.jpeg");
}

.image#i12 {
  background-image: url("/assets/community/FaJR-99XEAAh66Q.jpeg");
}

.image#i13 {
  background-image: url("/assets/community/FXfmW09XgAEGNIk.jpeg");
}

.image#i14 {
  background-image: url("/assets/community/FZvG2-QXwAQmIyX.jpeg");
}

.image#i15 {
  background-image: url("/assets/community/FZvG2-QXwAQmIyX.jpeg");
}

.image#i16 {
  background-image: url("/assets/community/FaJR-99XEAAh66Q.jpeg");
}

.image#i17 {
  background-image: url("/assets/community/IMG_0246.jpeg");
}

.image#i18 {
  background-image: url("/assets/community/FfCEBQkWYAA6G0s.jpeg");
}

.image#i19 {
  background-image: url("/assets/community/FZvG2-QXwAQmIyX.jpeg");
}

.image#i20 {
  background-image: url("/assets/community/FU4dAOJXEAASfh8.jpeg");
}

.image#i21 {
  background-image: url("/assets/community/FU4dAOSWUAESC70.jpeg");
}

.image#i22 {
  background-image: url("/assets/community/FU4dAOSWUAESC70.jpeg");
}

.image#i23 {
  background-image: url("/assets/community/FU4dAOSWUAESC70.jpeg");
}
.image#i24 {
  background-image: url("/assets/community/FU4dAOSWUAESC70.jpeg");
}
.h2 {
  color: #fff;
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 20px;
}

.imageWrapperInner {
  position: absolute;
  display: flex;
  width: 150vw;
  height: 200vh;
  flex-direction: column;
  grid-auto-columns: 1fr;
  transform: rotate(20deg);
}

/* Tablet */
@media only screen and (max-width: 768px) {
  .divBlock14 {
    width: 60%;
  }
}

/* Mobile */
@media only screen and (max-width: 480px) {
  .divBlock14 {
    width: 80%;
    height: 30%;
  }



}
