.container {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    align-items: flex-start;
    padding-top: var(--dl-space-space-threeunits);
    padding-left: 140px;
    padding-right: 140px;
    flex-direction: row;
    padding-bottom: var(--dl-space-space-threeunits);
    background-color: #ffffff;
    color: #0000ff;
  }

  .linkContainer {
    gap: 10px;
    height: auto;
    flex-direction: column;
    justify-content: flex-end;
  }

  .textinput {
    border-color: #0000ff;
    border-bottom-width: 1px;
  }

  .social {
    gap: 20px;
    height: auto;
    flex-direction: row;
    justify-content: flex-end;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
  }

  .footerHeader {
    font-size: 20px;
    font-weight: bold;
  }
  .footerLink {
    font-size: 16px;
    font-weight: 500;
  }
  .linkContainer {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .row1 {
    gap: 30px;
    flex: 0 0 auto;
    width: 33%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between
  }
  .row2 {
    gap: 50px;
    flex: 0 0 auto;
    width: 33%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .footerLogo {
    width: 42px;
    object-fit: cover;
  }
  
  .row3 {
    display: flex;
    width: 33%;
    height: auto;
    flex-direction: column;
    text-align: right;
    flex-direction: column;
    align-self: stretch;
    justify-content: space-between


  }
  
  @media screen and (min-width: 1900px) {
    .container{
      max-width: 1440px;
      padding-left: 0px;
      padding-right: 0px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media(max-width: 991px) {
    .container {
      height: auto;
      padding-left: var(--dl-space-space-threeunits);
      padding-right: var(--dl-space-space-threeunits);

      
    }
  }
  @media(max-width: 767px) {
    .container {
      gap: 30px;
      flex-direction: column;
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
      padding-bottom: var(--dl-space-space-twounits);
      padding-top: var(--dl-space-space-twounits);
    }

    .linkContainer {
      justify-content: flex-start;
    }

    .social {
      width: auto;
    }
    .row1{
        width: 100%;
        gap:10px;
        height: auto;
    }
    .row2{
        width: 100%;
        gap:10px;

    }
    .row3{
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        height: 22px;
        

    }

    .footerLogo {
        width: 21px;
      }
  }

  @media(max-width: 479px) {
    .container{
        padding-left: var(--dl-space-space-unit);
        padding-right: var(--dl-space-space-unit);
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
  }

