  .navbarContainer{
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: white;
  }
  .navbarHeader {
    width: 100%;
    height: 100px;
    display: flex;
    align-self: center;
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: 140px;
    padding-right: 140px;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
    background-color: #ffffff;

  }
  .navbarLink {
    display: contents;
  }
  .navbarImage {
    height: 3rem;
    align-self: center;
    text-decoration: none;
  }
  .navbarBtnGroup {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .navbarButton {
    color: #0000ff;
    border-color: #0000ff;
  }
  .navbarBurgerMenu {
    display: none;
  }
  .navbarIcon {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    display: none;
  }
  .navbarMobileMenu2 {
    display:none;
  }
  .navbarMobileMenu {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
    padding: 32px;
    z-index: 100;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
  }
  .navbarNav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .navbarContainer2 {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-threeunits);
    justify-content: space-between;
  }
  .navbarImage1 {
    height: 2rem;
  }
  .navbarCloseMobileMenu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbarIcon2 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }

  @media screen and (min-width: 1900px) {
    .navbarHeader{
      max-width: 1440px;
      padding-left: 0px;
      padding-right: 0px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media (max-width: 991px) {
    .navbarHeader {
      padding-left: var(--dl-space-space-threeunits);
      padding-right: var(--dl-space-space-threeunits);
    }
    .navbarIcon {
      display: flex;
    }
  }
  @media (max-width: 767px) {
    .navbarHeader {
      height: 80px;
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .navbarMobileMenu2 {
      display: flex;
      height: 100vh;
      width: 100vw;
      top:0px;
      position: fixed;
      background-color: #fff;
      z-index: 15;
    }

    .navbarMobileMenu {
      position: fixed;
    }
    .navbarBtnGroup {
    }
    .navbarBurgerMenu {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  @media (max-width: 479px) {
    .navbarContainer {
      height: 59px;
    }
    .navbarHeader {
      padding: var(--dl-space-space-unit);
    }
    .navbarImage {
      height: 2rem;
    }
    .navbarMobileMenu {
      top: 0px;
      left: 0px;
      right: 0px;
      display: none;
      padding: 16px;
      flex-direction: column;
    }
  }

  



  .navigationLinksNav {
    flex: 0 0 auto;
    display: none;
    align-items: center;
    flex-direction: row;
  }

  .navigationLinksDropdownToggle {
    fill: #595959;
    color: #595959;
    width: 100%;
    display: inline-flex;
    align-items: center;
    border-radius: var(--dl-radius-radius-radius2);
  }

  .navigationLinksIcon {
    width: 18px;
    height: 18px;
    transition: 0.3s;
    transform: rotate(90deg);
  }
  .navigationLinksDropdownList {
    left: 0%;
    width: max-content;
    display: flex;
    z-index: 100;
    min-width: 100%;
    align-items: stretch;
    border-color: #d9d9d9;
    border-radius: var(--dl-radius-radius-radius4);
    flex-direction: column;
    list-style-type: none;
    background-color: var(--dl-color-gray-white);
    list-style-position: inside;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .navigationLinksDropdown {
    cursor: pointer;
    display: inline-block;
    position: relative;
    border-radius: var(--dl-radius-radius-radius2);
  }
  .navigationLinksDropdownToggle1 {
    color: #0000ff;
    transition: 0.3s;
    text-decoration: none;
  }

  .navigationLinksText1 {
    width: 100%;
    cursor: pointer;
    display: flex;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
  }
  .navigationLinksDropdown1 {
    cursor: pointer;
    display: inline-block;
    position: relative;
    border-radius: var(--dl-radius-radius-radius2);
  }


  .navigationLinksDropdownToggle1:hover {
    fill: #fff;
    color: #ffffff;
    background-color: #0000ff;
    width: 100vw;

  }

  .navigationLinksDropdown2 {
    cursor: pointer;
    display: inline-block;
    position: relative;
    border-radius: var(--dl-radius-radius-radius2);
  }

  .navigationLinksDropdown3 {
    cursor: pointer;
    display: inline-block;
    position: relative;
    border-radius: var(--dl-radius-radius-radius2);
  }


  .navigationLinksLink1 {
    text-decoration: none;
    font-weight: 600;
  }

  @media (max-width: 767px) {
    .navigationLinksNav {
      align-items: flex-start;
      flex-direction: column;
      display: flex;
    }

    .navigationLinksLink1 {
      font-size: 35px;
      color: #0000ff;
      font-weight: 600;
    }

    .navigationLinksText {
      color: #0000ff;
      font-size: 35px;
      margin-right: 4px;
      margin-bottom: 15px;
    }


  }

