.container {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    overflow: auto;
    position: relative;
    justify-content: space-between;
    padding-top: var(--dl-space-space-fiveunits);
    padding-left: 140px;
    padding-right: 140px;
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fiveunits);
    background-color: #0000ff;
    color: white;
    justify-content: space-between;
    gap: 5px

    
  }

  .wrapper {
    width: 100%;
    height: auto;
  }

.role {
    font-size: 16px;
    padding-left: 21px;
}

.name {
    font-weight: 700;
    font-size: 22px;
}

  .image {
    width: 60px;
    object-fit: cover;
  }
  .content {
    flex: 0 0 auto;
    width: 200px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
  }

  .team_member {
    display: flex;
    gap: 15px;
    width: 100%;
  }
  .row1 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
  }
  .row2 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;


  }

  @media screen and (min-width: 1900px) {
    .wrapper{
      max-width: 1440px;
      padding-left: 0px;
      padding-right: 0px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media(max-width: 991px) {
    .container {
      padding-left: var(--dl-space-space-threeunits);
      padding-right: var(--dl-space-space-threeunits);

      
    }
  }

  @media(max-width: 767px) {
    .container {
      overflow: auto;
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);

    }
  }
  @media(max-width: 767px) {
    .container {
      overflow: auto;
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);

    }
  }
  